{% extends "layout.html" %}

{% block title %}
  Registro de Usuarios
{% endblock %}
{% block body %}

{% if not s_usuarios %}
  <div class="card border-light mb-4">
    <div class="card-header">
      Formulario de Registro de Usuario
    </div>
    <div class="card-body">
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Nombre" id="fnombre" data-form="nombre" onfocus="this.value=''" required>
        </div>
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Apellido" id="fapellido" data-form="apellido" onfocus="this.value=''" required>
        </div>
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Número de CI" id="fci" data-form="ci" onfocus="this.value=''" required>
        </div>
        <div class="form-group">
          <input class="form-control" type="email" placeholder="Correo Electrónico" id="femail" data-form="email" onfocus="this.value=''" required>
        </div>
        <div class="form-group">
          <select class="form-control" id="ftipo" data-form="tipo">
              {% for tipo in tipo_usuario %}
                  <option value="{{ tipo.id }}">{{ tipo.descripcion }}</option>
              {% endfor %}
          </select>
        </div>

        <div class="form-group">
          <input class="form-control" type="password" placeholder="Contraseña" id="fc" data-form="con" onfocus="this.value=''" required>
        </div>

        <button onclick="form1()" class="btn btn-primary">Enviar</button>
      </div>
    </div>
  <div id="mensaje">

{% endif %}

    <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre y Apellido</th>
        <th scope="col">Ci</th>
        <th scope="col">Tipo de usuario</th>
      </tr>
    </thead>
    <tbody>
      {% for usuario in usuarios %}
        <tr>
          <th scope="row">{{ usuario.id }}</th>
          <td>{{ usuario.nombre }} {{usuario.apellido}}</td>
          <td>{{ usuario.ci }}</td>
          <td>{{ usuario.tipo }}</td>
        </tr>
      {% else %}
      <td> No hay usuarios </td>
      {% endfor %}
    </tbody>
    </table>

  {% if not s_usuarios %}
    </div>
  {% endif %}
  {% endblock %}
